body {
	background: #333;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color:white;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#table {
	position:absolute;
	background-color: #162;
	background: url(res/felt.png), -webkit-gradient(linear, left bottom, left top, from(#083211), to(#1c8218));
	background: url(res/felt.png), -moz-linear-gradient(left top, #162, #1a600f);
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
	min-width:940px;
	min-height:680px;
}

#repository {
	position:absolute;
	right: 0px;
	top: 0px;
}

.cardContainer {
	position:absolute;
	width:  96px;
	height: 154px;
}

#waste {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 296px;
	height: 168px;
}

.card {
	position:absolute;
	width:  96px;
	height: 154px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	-webkit-transition: border 130ms linear;
	-moz-transition: border 130ms ease-in-out;
	transition: border 130ms ease-in-out;
	color:white;
	background: white;
}

.selected .cardContainer {
	border-bottom-color: #f00;
	
}

.card > .front, .card > .back {
	position:absolute;
}

.card > .front {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:  96px;
	height: 154px;
	background-color: #eee;
	background: -webkit-gradient(linear, left top, 25% bottom, from(#eee), to(#b4b7be));
	background: -moz-linear-gradient(left top, #eee, #ddd);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	display:block;
}

.flipped > .card .front {
	display: none;
}

.flipped > .card .back {
	display: block;
}

.card > .front > .center {
	position: relative;
	top: 10px;
	left: 10px;
	width: 76px;
	height: 134px;
}

.set0.cA > .card .front .center {
	background: url(res/A0.png) center center no-repeat;
}

.card > .back {
	display: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:  94px;
	height: 152px;
	border: 1px solid #500;
	background-color: #fff;
	background: url(res/tile.png), -webkit-gradient(linear, left top, 25% bottom, from(#c10), to(#600));
	background: url(res/tile.png), -moz-linear-gradient(left top, #c10, #a00);
	-webkit-box-shadow: inset 0px 0px 2px #f00;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
}

.number {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-size: 20px;
	text-align: center;
	color:black;
	cursor: default;
	font-family: "Droid Serif";
	letter-spacing: -2px;
	padding-bottom: 14px;
	min-width: 14px;
}

.s0 .number {
	background: url(res/club-sm.png) center bottom no-repeat;
}

.s1 .number {
	background: url(res/spade-sm.png) center bottom no-repeat;
}

.s2 .number {
	background: url(res/diamond-sm.png) center bottom no-repeat;
}

.s3 .number {
	background: url(res/heart-sm.png) center bottom no-repeat;
}

.red .number {
	color: #ba0000;
}

.number.botRight, .card .number.topLeft {
	display:block;
	position:absolute;
}

.number.topLeft {
	top: 0px;
	left: 2px;
}

.number.botRight {
	right: 2px;
	bottom: 0px;
	-webkit-transform: rotate(180deg);
}

.repository {
	top: 16px;
	position:absolute;
	width: 110px;
	height: 168px;
	border: 1px solid rgba(128,255,32,0.3);
	background: rgba(0,32,0,0.4);
	border-radius: 12px;
	-webkit-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.7), inset 0px -2px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.7), inset 0px -2px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.7), inset 0px -2px 2px rgba(0, 0, 0, 0.4);
}

.column {
	position:absolute;
	bottom: 0px;
	width: 108px;
}

.column > .cardContainer {
}

.column .cardContainer {
	-webkit-transition: margin-top 160ms linear;
}

.cardContainer > .cardContainer,
.cardContainer.flipped > .cardContainer.flipped {
	margin-top: 9px;
}

.cardContainer:not(.flipped) > .cardContainer,
.cardContainer:hover:not(.flipped) > .cardContainer:hover {
	margin-top: 18px;
}

.cardContainer:hover:not(.flipped) > .cardContainer,
.cardContainer.selected > .cardContainer {
	margin-top: 32px;
}

#waste > #deck .card:not(:only-child),
.repository .card:not(:only-child) {
	-webkit-box-shadow: none;
}

#waste > #deck .card:not(:only-child) .front,
.repository .card:not(:only-child) .front {
	display: none;
}

#waste .cardContainer > .cardContainer,
#waste .cardContainer > .cardContainer,
#waste .cardContainer:hover:not(.flipped) > .cardContainer,
#waste .cardContainer.selected > .cardContainer,
#waste .cardContainer:not(.flipped) > .cardContainer,
#waste .cardContainer:hover:not(.flipped) > .cardContainer,
#waste .cardContainer > .cardContainer,
#waste .cardContainer.flipped > .cardContainer.flipped,
.repository .cardContainer > .cardContainer,
.repository .cardContainer:hover:not(.flipped) > .cardContainer,
.repository .cardContainer.selected > .cardContainer,
.repository .cardContainer:not(.flipped) > .cardContainer,
.repository .cardContainer:hover:not(.flipped) > .cardContainer,
.repository .cardContainer > .cardContainer,
.repository .cardContainer.flipped > .cardContainer.flipped {
	margin-top:0;
}

#waste > #spawn {
	position: absolute;
	left: 125px;
}

#waste > #spawn .cardContainer > .cardContainer {
	margin-left: 32px;
}

#waste > #deck,
.repository > .cardContainer {
	margin-left: 5px;
	margin-top: 5px;
}

#deck {
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	width: 96px;
	height: 154px;
}

#deck > *:not(.circle) {
	margin-top: -2px;
	margin-left: -2px;
}

#deck > .circle {
	position:absolute;
	left: 24px;
	top: 55px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.4);
}
